@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    list-style: none;
    padding: 0;
}

body{
   font-family: 'Montserrat', sans-serif;


    
}
.contenedor{
    margin: auto;
     width: 98%    
}
/*Estilos del header*/

header{
    height: 70px;
   
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    position:fixed ;
    width: 100%;
    height: 60px;
    z-index: 100;  
}
.colorPrimario{
     background: rgba(rgba 138,221,45,0);
}
.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    background: #FBA919;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;    
}
.logo{
    position: relative;
    width: 100px;
    height: 60px;
    bottom: 10px;
}
.logo, .icon-menu {
        margin: 10px;
    
}

.nav {
    position: absolute;
    top: 60px;
    width: 100%;
    left: -100%;
    
}
.menu{
    padding: 0;
    margin: 0
}
.menu__link{
    display: block;
    padding: 15px;
    background: black;
    color:white;
    text-decoration: none;   
}

.menu__link:hover, .select{
    background: white;
    color:black
}
.mostrar{
    left:0;
    transition: 0.5s;
}

/*Estilos del banner*/
.banner{
    margin-top: -70px;
    position: relative;
    z-index: -1000;
    margin-bottom: 10px;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

.banner__texto{
    display: none;
}
.banner__img{
    width: 100%;

}

/*--estilos de info*/
.info__columna{
    background: #FBA919;
    color:white;
    padding: 15px;
    margin-bottom: 20px;
}
.info__columna img , .cursos__columna img {

    width: 100%
  
}
h2,h3{
    font-family: 'Sigmar One', cursive;
}
/*--estilos de cursos*/

.section__titulo{
    text-align: center;
    font-size: 40px;
    color: #FBA919;        
}
.cursos__columna{
    position: relative;
    margin-bottom: 30px;
}

.cursos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 98.5%;
    padding: 5px;
}
.cursos__titulo{
    font-size: 25px;
    margin: 5px 0;
}

/*--estilos de footer*/
.footer{
    background: #333;
    color: white; 
    padding: 10px;
    text-align: center;
}

.footer [class^="icon-"]{
    display: inline-block;
    color: blue;
    text-decoration: none;
    font-size: 21px;
    padding: 10px;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
   
}

/*--estilos responsiver*/
@media(min-width:680px){
    header .contenedor{      
    height: 80px;
    }
    .nav{
        top: 80px; 
    }
    
    .logo{
        width:120px ;
        height:80px ;
    }
    .banner__titulo{
    font-size:   30px; 
    margin: 5px 0;
    }
    .banner__texto{
    display:block;
    font-size: 18px;
    margin: -10px 0;    
        
    }
    .info, .cursos{
        display: flex;
        justify-content: space-between;
        margin-top: -120px;
    } 
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: -10px 0;
        margin-bottom: 10px;
    }
   
    .section__titulo{
        width: 100%;
    }
     .cursos{
        flex-wrap: wrap;
        margin-top: 0px;
    }
    .cursos__columna{
        width: 49%;
    }
    .footer [class^="icon-"]{
        margin: 0 10px;
    }
    
}

@media(min-width:1024px){

    .contenedor{
        width: 950px;
    }
    .nav{
        position:static;;
        width: auto;  
       
    }
    .menu__link{
        padding:  25px ;
    }
    
    .icon-menu{
        display: none
    }
    .menu{
        display: flex;
    }
    .menu__link{
        background: none;
        font-size: 25px;
    }
    .select{
        background: white;
    }
   .banner__titulo{
    font-size:   60px; 
    margin: 5px 0;
    }
     .banner__texto{
    display:block;
    font-size: 30px;
    margin: -10px 0;         
    }
    .cursos__titulo{
        font-size: 30px;
    }
    .info__titulo{
        text-align: center;
    }
    .section__titulo{
        font-size: 50px;
        margin:    15px 0; 
    }
    .cursos__descripcion{
        padding: 20px;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items:center;
        align-content: center;

    }
}
@media(min-width:1280px)  {
    .contenedor{
    width: 1700px;
    }
     header .contenedor {
       height: 90px
    }
    .menu__link{
        padding:  30px  ;
        
    }
    .logo{
        width:160px ;
        height:100px
    }
    .banner .contenedor{
    top: 40%;
    }
    .banner__titulo{
    font-size:69px; 
       
    }
    .banner__texto{
    font-size: 70px;      
    }
    .info{
        margin-top: -300px;
    }    
    }   






.contenedor_segundo{
    background: rgba(84, 242, 234);
}